<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- displays site properly based on user's device -->
  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
  <link rel="stylesheet" href="styles/reset.css">
  <link rel="stylesheet" href="styles/styles.css">
  <title>Frontend Mentor | Interactive comments section</title>

</head>

<body>

  <main id="app">
    <ol class="comments" aria-label="Comments">
      <li class="comment" v-for="comment in comments" :key="comment.id">
        <comment :comment="comment"></comment>
        <ol>
          <li class="comments-replies-list" v-for="reply in comment.replies" :key="reply.id">
            <comment :comment="reply"></comment>
          </li>
        </ol>
      </li>
    </ol>
  </main>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"
    integrity="sha512-u9akINsQsAkG9xjc1cnGF4zw5TFDwkxuc9vUp5dltDWYCSmyd0meygbvgXrlc/z7/o4a19Fb5V0OUE58J7dcyw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>

    const score = {
      props: ['score'],
      template: `
        <aside class="comment-aside flex">
            <button class="comment-btn" @click="plus" aria-label="plus">&plus;</button>
            <span aria-live="polite" aria-label="Score" class="comment-score-number">{{ !score ? 0 : score }}</span>
            <button class="comment-btn" @click="minus" aria-label="minus">&minus;</button>
          </aside>
        `      
    }

    Vue.component('comment', {
      props: ['comment'],
      components: {
        score
      },
      template: `
        <article class="comment-item">
          <header class="comment-header flex">
            <img class="comment-userimage" :src="comment.user.image.png" :alt="'photo of ' + comment.user.username ">
            <h3 class="comment-username">{{ comment.user.username }}</h3>
            <span v-if="comment.user.username === 'juliusomo'" class="comment-header-me">You</span>
            <span class="comment-createdAt">{{ comment.createdAt }}</span>
          </header>
          <main class="comment-content">{{ comment.content }}</main>
          <score />
          <footer class="flex comment-footer">
            <button v-if="comment.user.username !== 'juliusomo'" class="comment-btn comment-reply-btn flex"><img src="../images/icon-reply.svg" alt=""/> Reply</button>
            <div class="flex" v-if="comment.user.username === 'juliusomo'">
              <button class="comment-btn comment-delete-btn flex"><img src="../images/icon-delete.svg" alt=""/>Delete</button>              
              <button class="comment-btn comment-edit-btn flex"><img src="../images/icon-edit.svg" alt=""/>Edit</button>
            </div>
          </footer>
        </article>`
    });

    var vm = new Vue({
      el: '#app',
      data: {
        comments: [],
        currentUser: {}
      },
      mounted: function() {
        this.fetchComments();
      },
      methods: {
        fetchComments: function() {
          axios.get('data.json')
            .then(response => {
              this.comments = response.data.comments;
              this.currentUser = response.data.currentUser;
            })
        }
      }
    })
  </script>
</body>

</html>